.container {
  padding: 10px 20px;
}

.discountContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.text {
  display: flex;
  flex-direction: column;
}

.target {
  font-weight: 300;
  font-size: 12px;
}

.discount {
  color: darkorange;
  font-size: 14px;
}

.count {
  background-color: aliceblue;
  align-self: center;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  line-height: 30px;
  width: 50px;
}