* {
  color: rgb(104, 103, 103);
  font-size: 15px;
  font-weight: 500;
}

.container {
  padding: 10px 20px;
}

.itemContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.text {
  display: flex;
  flex-direction: column;
}

.price {
  font-weight: 300;
}

.count {
  background-color: aliceblue;
  align-self: center;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  line-height: 30px;
  width: 50px;
}